body {
    font-family: cursive;
    margin: auto 25%;
    background: #000000
  }
  a {
    text-decoration: none;
    color: #03a9f4;
  }
  
    canvas {
      position: relative;
      margin: auto;
    } 
  
  p {
    color: #03a9f4;
    text-align: center;
  }
   